/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c7d2fe, #a5c2f6);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #b91372;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-in-top 1s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 80px; /* Adjust based on the height of the header */
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    margin-bottom: 1rem;
    color: #2c3e50;
    text-align: center;
    animation: text-fade-in 1.5s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

input, button {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #b91372;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a51263;
}

#content {
    margin-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: center;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #b91372;
    color: #ffffff;
    text-align: center;
    z-index: 1000;
    animation: slide-in-bottom 1s ease-in-out;
}

/* Animations */
@keyframes slide-in-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
